In [1]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
import pandas as pd

iris = datasets.load_iris()
atribut = iris.data
label = iris.target

df = pd.DataFrame(iris.data)
df['target'] = label
df

       0    1    2    3  target
0    5.1  3.5  1.4  0.2       0
1    4.9  3.0  1.4  0.2       0
2    4.7  3.2  1.3  0.2       0
3    4.6  3.1  1.5  0.2       0
4    5.0  3.6  1.4  0.2       0
..   ...  ...  ...  ...     ...
145  6.7  3.0  5.2  2.3       2
146  6.3  2.5  5.0  1.9       2
147  6.5  3.0  5.2  2.0       2
148  6.2  3.4  5.4  2.3       2
149  5.9  3.0  5.1  1.8       2

[150 rows x 5 columns]

In [2]:
# bagi dataset menjadi train set dan test set
X_train, X_test, y_train, y_test = train_test_split(
    atribut, label, test_size=0.2, random_state=1)

In [3]:
from sklearn import tree

# menghitung akurasi model tanpa PCA
decision_tree = tree.DecisionTreeClassifier()
model_pertama = decision_tree.fit(X_train, y_train)
model_pertama.score(X_test, y_test)

0.9666666666666667

In [4]:
from sklearn.decomposition import PCA

# membuat objek PCA dengan 4 principal component
pca = PCA(n_components=4)

# mengaplikasikan PCA pada dataset
pca_attributes = pca.fit_transform(X_train)

# melihat variance dari setiap atribut
pca.explained_variance_ratio_

array([0.92848323, 0.04764372, 0.01931005, 0.004563  ])

In [5]:
# PCA dengan 2 principal component
pca = PCA(n_components = 2)
X_train_pca = pca.fit_transform(X_train)
X_test_pca = pca.fit_transform(X_test)

display(pd.DataFrame(X_train_pca), pd.DataFrame(X_test_pca))

            0         1
0    0.837424  0.001979
1    3.028449  0.697945
2   -0.014029 -0.541866
3    2.069941 -0.186754
4    1.532622 -0.514889
..        ...       ...
115  1.388886 -0.111580
116  1.853232  0.078069
117  1.240564 -0.297732
118  2.265360  0.202024
119 -2.850624  0.338033

[120 rows x 2 columns]

           0         1
0  -2.455564  0.958499
1  -0.670287 -0.928731
2   1.114099  0.206455
3  -2.431106  0.582238
4   3.413562  1.290603
5   1.300695  0.142804
6   2.120068  0.316156
7  -2.007843  0.200069
8  -2.407747 -0.432532
9   2.626552  0.281916
10  0.587855 -0.659163
11 -2.085800  0.513179
12  2.824721  0.258850
13  1.140800  0.183064
14  1.033665 -0.303957
15 -2.772900 -0.589969
16  0.463351 -0.549159
17  0.880624 -0.513584
18 -2.201070  0.200964
19 -2.646881 -0.154242
20  0.702484 -0.827449
21  0.809842 -0.653071
22  1.769779  0.156602
23 -2.560874  0.031203
24  2.821158  0.466035
25  0.525442 -0.502806
26 -2.412037  0.853436
27 -2.387259  0.274464
28  1.150858 -0.322083
29  1.753816 -0.479790

In [6]:
# uji akurasi classifier

model2 = decision_tree.fit(X_train_pca, y_train)
model2.score(X_test_pca, y_test)

0.9333333333333333