0. Import library yang dirasa perlu

In [6]:
import pandas as pd
import numpy as np

1. Berikan aturan menggunakan pandas untuk menampilkan row dan columns sebanyak maksimal 20 saja.

In [7]:
pd.set_option("display.max_rows", 20)
pd.set_option("display.max_columns",20)

2. Buatlah dataframe menggunakan dictionary dengan ukuran (3-rows,4-columns) dan berikan bukti bahwa ukuran telah sesuai

In [8]:
fruit_sales = pd.DataFrame( {"Apples":np.random.randint(100, size=(3)), 
                             'Bananas':np.random.randint(50, size=(3)) , 
                             'grape':[17, 22, 45] ,  
                             'Manggo':[21, 44, 34]},
                           index = ['2019 Sales', '2020 Sales', '2021 Sales'])
fruit_sales.shape

(3, 4)

3. Masukkan/import/read file yang telah dikirimkan bernama "goals.csv" dengan pandas lalu simpan dalam variabel df

In [9]:
df = pd.read_csv('goals.csv', index_col = 0)
df

,player_name,club,position,goals,right_foot,left_foot,headers,others,inside_area,outside_areas,penalties,match_played
serial,,,,,,,,,,,,
1,Benzema,Real Madrid,Forward,15,11,1,3,0,13,2,3,12
2,Lewandowski,Bayern,Forward,13,8,3,1,1,13,0,3,10
3,Haller,Ajax,Forward,11,3,4,3,1,11,0,1,8
4,Salah,Liverpool,Forward,8,0,8,0,0,7,1,1,13
5,Nkunku,Leipzig,Midfielder,7,3,1,3,0,7,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...
73,Yansané,Sheriff,Forward,1,0,0,1,0,1,0,0,3
73,Yakhshiboev,Sheriff,Forward,1,0,0,1,0,1,0,0,3
73,Messias Junior,Milan,Forward,1,0,0,1,0,1,0,0,2
73,Morato,Benfica,Defender,1,0,0,1,0,1,0,0,2
73,Pedro Porro,Sporting CP,Defender,1,0,0,0,1,1,0,0,7

4. Reset index dari dataframe agar index dimulai dari 0

In [10]:
df.reset_index(inplace = True)

In [11]:
df

,serial,player_name,club,position,goals,right_foot,left_foot,headers,others,inside_area,outside_areas,penalties,match_played
0,1,Benzema,Real Madrid,Forward,15,11,1,3,0,13,2,3,12
1,2,Lewandowski,Bayern,Forward,13,8,3,1,1,13,0,3,10
2,3,Haller,Ajax,Forward,11,3,4,3,1,11,0,1,8
3,4,Salah,Liverpool,Forward,8,0,8,0,0,7,1,1,13
4,5,Nkunku,Leipzig,Midfielder,7,3,1,3,0,7,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,73,Yansané,Sheriff,Forward,1,0,0,1,0,1,0,0,3
179,73,Yakhshiboev,Sheriff,Forward,1,0,0,1,0,1,0,0,3
180,73,Messias Junior,Milan,Forward,1,0,0,1,0,1,0,0,2
181,73,Morato,Benfica,Defender,1,0,0,1,0,1,0,0,2
182,73,Pedro Porro,Sporting CP,Defender,1,0,0,0,1,1,0,0,7

5. simpan seluruh kolom goals pada dataset kedalam variabel 'AvgPoint' dan cari rata-ratanya

In [12]:
AvgPoint = df.goals.mean()
AvgPoint

2.021857923497268

6. Selecting/Slicing data index ke 0,10,50,170 dan tampilkan kolom player_name, club, dan postion nya saja dan simpen hasil dalam variabel a

In [13]:
a = df.loc[ [0,10,50,170], ['player_name', 'club', 'position'] ]
a

    player_name         club    position
0       Benzema  Real Madrid     Forward
10         Sané       Bayern  Midfielder
50   Szoboszlai      Leipzig  Midfielder
170      Jordán      Sevilla  Midfielder

7. Munculkan nilai Unique yang ada pada kolom club dan simpan pada variabel "Tim"

In [14]:
Tim = df.club.unique()
Tim

array(['Real Madrid', 'Bayern', 'Ajax', 'Liverpool', 'Leipzig',
       'Man. City', 'Paris', 'Benfica', 'Man. United', 'Villarreal',
       'Chelsea', 'Sporting CP', 'Atlético', 'Dortmund', 'Salzburg',
       'Club Brugge', 'Atalanta', 'LOSC', 'Inter', 'Juventus', 'Sevilla',
       'Shakhtar Donetsk', 'Zenit', 'Young Boys', 'Wolfsburg', 'Sheriff',
       'Porto', 'Dynamo Kyiv', 'Barcelona', 'Milan', 'Malmö', 'Beşiktaş'],
      dtype=object)

8. munculkan banyaknya value (Midfielder, Forward, Defender) yang muncul dalam kolom postion

In [15]:
df.position.value_counts()

Midfielder    78
Forward       73
Defender      32
Name: position, dtype: int64

9. munculkan jumlah goal menggunakan kaki kanan, dan kaki kiri. dan tentukan lebih banyak mana.

In [16]:
df.right_foot.sum()

178

In [17]:
df.left_foot.sum()

127

10. check tipe data dari setiap kolom yang ada di dataframe (jawab dengan 2 cara yang berbeda)

In [18]:
df.dtypes

serial            int64
player_name      object
club             object
position         object
goals             int64
right_foot        int64
left_foot         int64
headers           int64
others            int64
inside_area       int64
outside_areas     int64
penalties         int64
match_played      int64
dtype: object

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   serial         183 non-null    int64
 1   player_name    183 non-null    object
 2   club           183 non-null    object
 3   position       183 non-null    object
 4   goals          183 non-null    int64
 5   right_foot     183 non-null    int64
 6   left_foot      183 non-null    int64
 7   headers        183 non-null    int64
 8   others         183 non-null    int64
 9   inside_area    183 non-null    int64
 10  outside_areas  183 non-null    int64
 11  penalties      183 non-null    int64
 12  match_played   183 non-null    int64
dtypes: int64(10), object(3)
memory usage: 18.7+ KB

11. check tipe data dari kolom goals, player_name, dan index yang ada pada dataframe

In [20]:
df.goals.dtype

dtype('int64')

In [21]:
df.player_name.dtype

dtype('O')

In [22]:
df.index.dtype

dtype('int64')

12. Buatlah groupby single indexing dari dataframe dengan semenarik mungkin (Minimal 2)

In [23]:
df.groupby("position")["goals"].sum().to_frame()

            goals
position
Defender       35
Forward       197
Midfielder    138

In [24]:
df.columns

Index(['serial', 'player_name', 'club', 'position', 'goals', 'right_foot',
       'left_foot', 'headers', 'others', 'inside_area', 'outside_areas',
       'penalties', 'match_played'],
      dtype='object')

In [25]:
df.groupby("club")["goals"].sum().to_frame()

             goals
club
Ajax            21
Atalanta        12
Atlético         9
Barcelona        2
Bayern          30
...            ...
Sporting CP     14
Villarreal      20
Wolfsburg        5
Young Boys       7
Zenit            9

[32 rows x 1 columns]

13. Buatlah groupby multiple indexing dari dataframe dengan semenarik mungkin (Minimal 2)

In [26]:
df.groupby(["team","position"])["goals"].sum().to_frame()

KeyError: 'team'

In [ ]:
df.groupby(["team","position"])['goals','right_foot', 'left_foot', 'headers','match_played'].sum()

C:\Users\rendi\AppData\Local\Temp\ipykernel_14716\3601743993.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(["team","position"])['goals','right_foot', 'left_foot', 'headers','match_played'].sum()

                       goals  right_foot  left_foot  headers  match_played
team       position
Ajax       Defender        1           0          1        0             8
           Forward        19           4         11        3            35
           Midfielder      1           1          0        0             7
Atalanta   Defender        2           0          1        1            11
           Forward         4           3          1        0            11
...                      ...         ...        ...      ...           ...
Young Boys Forward         3           2          0        1            12
           Midfielder      3           2          1        0            17
Zenit      Defender        1           0          1        0             6
           Forward         2           2          0        0             5
           Midfielder      6           3          1        2            21

[78 rows x 5 columns]

14. urutkan dataframe yang ada berdasarkan match_palyed terbanyak

In [ ]:
df.sort_values(by='match_played',ascending = False)

,serial,player_name,club,position,goals,right_foot,left_foot,headers,others,inside_area,outside_areas,penalties,match_played
19,16,Luis Díaz,Liverpool,Forward,4,2,1,1,0,4,0,0,13
3,4,Salah,Liverpool,Forward,8,0,8,0,0,7,1,1,13
74,73,Fabinho,Liverpool,Midfielder,1,1,0,0,0,1,0,0,13
18,16,Vinícius Júnior,Real Madrid,Forward,4,3,1,0,0,4,0,0,13
12,12,Mané,Liverpool,Midfielder,5,2,3,0,0,5,0,0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,73,Morato,Benfica,Defender,1,0,0,1,0,1,0,0,2
151,73,Gosens,Atalanta,Midfielder,1,0,1,0,0,1,0,0,2
120,73,Vlahović,Juventus,Forward,1,1,0,0,0,1,0,0,2
121,73,Rebić,Milan,Forward,1,1,0,0,0,1,0,0,2
128,73,Ozdoev,Zenit,Midfielder,1,1,0,0,0,0,1,0,1

15. ganti nama kolom 'serial' menjadi 'nomor_punggung', dan 'club' menjadi 'team' secara bersamaan (simpan ke variabel yang sama yaitu df)

In [ ]:
df = df.rename(columns={'serial':'nomor_punggung','club':'team'})
df.head(1)

,nomor_punggung,player_name,team,position,goals,right_foot,left_foot,headers,others,inside_area,outside_areas,penalties,match_played
0,1,Benzema,Real Madrid,Forward,15,11,1,3,0,13,2,3,12

16. Check missing value yang ada pada kolom team dan penalties saja

In [ ]:
pd.isnull(df['penalties']).sum()

0

In [ ]:
pd.isnull(df['team']).sum()

0

17. check semua missing value yang ada seluruh kolom di dataframe

In [ ]:
df.isnull().sum()

nomor_punggung    0
player_name       0
team              0
position          0
goals             0
right_foot        0
left_foot         0
headers           0
others            0
inside_area       0
outside_areas     0
penalties         0
match_played      0
dtype: int64

18. jumlahkan kolom right_foot, left_foot lalu masukkan menjadi kolom baru bernama 'foot_goals'

In [ ]:
df.head()

,nomor_punggung,player_name,team,position,goals,right_foot,left_foot,headers,others,inside_area,outside_areas,penalties,match_played
0,1,Benzema,Real Madrid,Forward,15,11,1,3,0,13,2,3,12
1,2,Lewandowski,Bayern,Forward,13,8,3,1,1,13,0,3,10
2,3,Haller,Ajax,Forward,11,3,4,3,1,11,0,1,8
3,4,Salah,Liverpool,Forward,8,0,8,0,0,7,1,1,13
4,5,Nkunku,Leipzig,Midfielder,7,3,1,3,0,7,0,0,6