In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [4]:
import pyfiglet as pyf
print(pyf.figlet_format('KITA AKAN BELAJAR :'))

print('''1. ALL ABOUT OUTLIER
2. ENRICHING DATA''')

print(pyf.figlet_format('-----------'))

 _  _____ _____  _         _    _  __    _    _   _
| |/ /_ _|_   _|/ \       / \  | |/ /   / \  | \ | |
| ' / | |  | | / _ \     / _ \ | ' /   / _ \ |  \| |
| . \ | |  | |/ ___ \   / ___ \| . \  / ___ \| |\  |
|_|\_\___| |_/_/   \_\ /_/   \_\_|\_\/_/   \_\_| \_|

 ____  _____ _        _       _   _    ____
| __ )| ____| |      / \     | | / \  |  _ \   _
|  _ \|  _| | |     / _ \ _  | |/ _ \ | |_) | (_)
| |_) | |___| |___ / ___ \ |_| / ___ \|  _ <   _
|____/|_____|_____/_/   \_\___/_/   \_\_| \_\ (_)


1. ALL ABOUT OUTLIER
2. ENRICHING DATA


 _____ _____ _____ _____ _____ _____ _____ _____ _____ _____ _____
|_____|_____|_____|_____|_____|_____|_____|_____|_____|_____|_____|

In [5]:
print(pyf.figlet_format('OUTLIER'))

  ___  _   _ _____ _     ___ _____ ____
 / _ \| | | |_   _| |   |_ _| ____|  _ \
| | | | | | | | | | |    | ||  _| | |_) |
| |_| | |_| | | | | |___ | || |___|  _ <
 \___/ \___/  |_| |_____|___|_____|_| \_\

## Deteksi Outlier Menggunakan IQR

In [1]:
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

image1 = Image.open('1_boxplots.jpg')
image2 = Image.open('box plot.PNG')

# Create a figure with two subplots and set the figsize
fig, axs = plt.subplots(1, 2, figsize=(12, 6))

# Display the first image on the left subplot
axs[0].imshow(image1)
axs[0].axis('off')
axs[1].imshow(image2)
axs[1].axis('off')

# Adjust the spacing between subplots
plt.subplots_adjust(wspace=0.05)

# Tampilkan Gambarnya
plt.show()

NameError: name 'Image' is not defined

IQR mengukur sebaran data di antara kuartil pertama (Q1) dan kuartil ketiga (Q3) dalam kumpulan data. Jika suatu titik data berada di luar batas atas (Q3 + 1.5 * IQR) atau batas bawah (Q1 - 1.5 * IQR), maka data tersebut dianggap sebagai outlier.

In [16]:
import numpy as np

def detect_outliers_iqr(data):
    # Disini didapat Quartil 1 dan Quartil 3
    q1 = np.percentile(data, 25)
    q3 = np.percentile(data, 75)

    # Menghitung IQR - Interquartil Range - Jangkauan
    iqr = q3 - q1

    # Menghitung Batas atas dan Bawahnya, untuk menentukan jika ada nilai yang lebih dari ini maka dianggap outlier.
    lower_bound = q1 - (1.5 * iqr)
    upper_bound = q3 + (1.5 * iqr)

    # Nah disini seperti yang aku bilang diatas adalah untuk mengidentifikasi outlier
    outliers = [x for x in data if x < lower_bound or x > upper_bound]
    # jika x lebih kecil dari batas bawah atau lebih besar dari batas atas maka dianggap outlier

    return outliers

# Contoh penggunaan
data = [1, 2, 3, 4, 5, 6, 7, 30, 100]
outliers = detect_outliers_iqr(data)
print("Outliers:", outliers)

Outliers: [30, 100]

## Mendeteksi Outlier menggunakan Z-score

Metode Z-Score adalah salah satu metode yang umum digunakan untuk mendeteksi outlier dalam data. Z-Score mengukur seberapa jauh suatu titik data dari rata-rata dalam satuan standar deviasi. Jika nilai Z-Score suatu data melebihi ambang batas tertentu, maka data tersebut dianggap sebagai outlier. Data yang signifikan jauh dari nilai rata-rata secara statistik dapat dianggap sebagai anomali atau outlier.

*perlu dicatat bahwa Z-Score memiliki asumsi bahwa data di dalamnya mengikuti distribusi normal.*

z_scores = [(x - mean) / std_dev for x in data]

In [21]:
import numpy as np
from scipy import stats

def detect_outliers_zscore(data, threshold=3):
    # Menghitung skor Z
    z_scores = np.abs(stats.zscore(data))

    # Mengidentifikasi outlier
    outliers = [data[i] for i, z in enumerate(z_scores) if z > threshold]

    return outliers

# Contoh penggunaan
data = [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 500]
outliers = detect_outliers_zscore(data)
print("Outliers:", outliers)

Outliers: [500]

## Menghapus Outlier

In [25]:
import numpy as np

def remove_outliers(data, threshold=3):
    mean = np.mean(data)
    std_dev = np.std(data)
    outliers = [x for x in data if (x - mean) / std_dev > threshold]
    data_clean = [x for x in data if x not in outliers]
    return data_clean

# Contoh penggunaan
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]
data_clean = remove_outliers(data)
print("Data clean:", data_clean)

Data clean: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Imputasi dengan nilai Logartima

In [29]:
import numpy as np

def log_transform(data):
    data_transformed = np.log(data)
    return data_transformed

# Contoh penggunaan
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]
data_transformed = log_transform(data)
print("Data transformed:", data_transformed)

Data transformed: [0.         0.69314718 1.09861229 1.38629436 1.60943791 1.79175947
 1.94591015 2.07944154 2.19722458 2.30258509 4.60517019]

## Imputasi nilai outlier dengan nilai Mean.

In [27]:
import numpy as np

def impute_outliers(data, threshold=3):
    mean = np.mean(data)
    std_dev = np.std(data)
    outliers = [x for x in data if (x - mean) / std_dev > threshold]
    data_imputed = [mean if x in outliers else x for x in data]
    return data_imputed

# Contoh penggunaan
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]
data_imputed = impute_outliers(data)
print("Data imputed:", data_imputed)

Data imputed: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14.090909090909092]

In [36]:
print(pyf.figlet_format('ENRICHING DATA'))

 _____ _   _ ____  ___ ____ _   _ ___ _   _  ____   ____    _  _____  _
| ____| \ | |  _ \|_ _/ ___| | | |_ _| \ | |/ ___| |  _ \  / \|_   _|/ \
|  _| |  \| | |_) || | |   | |_| || ||  \| | |  _  | | | |/ _ \ | | / _ \
| |___| |\  |  _ < | | |___|  _  || || |\  | |_| | | |_| / ___ \| |/ ___ \
|_____|_| \_|_| \_\___\____|_| |_|___|_| \_|\____| |____/_/   \_\_/_/   \_\

## Menambah Kolom Baru Dari Kolom Yang Sudah Ada

In [40]:
data = pd.DataFrame({
    'Nama': ['John', 'Jane', 'Bob', 'Alice', 'Mike'],
    'Usia': [25, 32, 45, 27, 20],
    'Pendapatan': [3500, 4500, 5500, 4000, 3000]
})

data['Pendapatan Tahunan'] = data['Pendapatan'] * 12

data

    Nama  Usia  Pendapatan  Pendapatan Tahunan
0   John    25        3500               42000
1   Jane    32        4500               54000
2    Bob    45        5500               66000
3  Alice    27        4000               48000
4   Mike    20        3000               36000

## Menggabungkan Dataframe berdasarkan Kolom nya

In [39]:
import pandas as pd

# Data awal
data1 = pd.DataFrame({
    'Nama': ['John', 'Jane', 'Bob'],
    'Usia': [25, 32, 45],
    'Pendapatan': [3500, 4500, 5500]
})

data2 = pd.DataFrame({
    'Nama': ['Alice', 'Mike'],
    'Usia': [27, 20],
    'Pendapatan': [4000, 3000]
})

data_merged = pd.concat([data1, data2], ignore_index=True)

data_merged

    Nama  Usia  Pendapatan
0   John    25        3500
1   Jane    32        4500
2    Bob    45        5500
3  Alice    27        4000
4   Mike    20        3000

## Mengisi Missing Values dengan Nilai Tertentu

In [41]:
import pandas as pd

# Data awal
data = pd.DataFrame({
    'Nama': ['John', 'Jane', 'Bob', 'Alice', 'Mike'],
    'Usia': [25, None, 45, None, 20],
    'Pendapatan': [3500, 4500, None, 4000, None]
})

mean_usia = data['Usia'].mean()
data['Usia'].fillna(mean_usia, inplace=True)

median_pendapatan = data['Pendapatan'].median()
data['Pendapatan'].fillna(median_pendapatan, inplace=True)

data

    Nama  Usia  Pendapatan
0   John  25.0      3500.0
1   Jane  30.0      4500.0
2    Bob  45.0      4000.0
3  Alice  30.0      4000.0
4   Mike  20.0      4000.0

## enriching data dengan teknik pengubahan skala (scaling) menggunakan MinMaxScaler

In [46]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Data awal
data = pd.DataFrame({
    'Usia': [25, 32, 45, 27, 20],
    'Pendapatan': [3500, 4500, 5500, 4000, 3000]
})

# Menerapkan scaling menggunakan MinMaxScaler
scaler = MinMaxScaler()
data_enriched = scaler.fit_transform(data)

# Membuat dataframe baru dengan data yang telah diubah skala
data_enriched = pd.DataFrame(data_enriched, columns=data.columns)

print(data_enriched)

   Usia  Pendapatan
0  0.20         0.2
1  0.48         0.6
2  1.00         1.0
3  0.28         0.4
4  0.00         0.0