In [131]:
import sklearn
import pandas as pd

In [132]:
df = pd.read_csv('iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [134]:
df_y = df.iloc[:,5:]
df_y

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [135]:
code = {'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 2}

In [136]:
df_y.loc[:, 'Species'] = df_y['Species'].replace(code)

C:\Users\whisn\AppData\Local\Temp\ipykernel_22520\1454496339.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y.loc[:, 'Species'] = df_y['Species'].replace(code)
C:\Users\whisn\AppData\Local\Temp\ipykernel_22520\1454496339.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_y.loc[:, 'Species'] = df_y['Species'].replace(code)

In [137]:
df_y

     Species
0          0
1          0
2          0
3          0
4          0
..       ...
145        2
146        2
147        2
148        2
149        2

[150 rows x 1 columns]

In [138]:
df_x = df.iloc[:,1:4]
df_x

     SepalLengthCm  SepalWidthCm  PetalLengthCm
0              5.1           3.5            1.4
1              4.9           3.0            1.4
2              4.7           3.2            1.3
3              4.6           3.1            1.5
4              5.0           3.6            1.4
..             ...           ...            ...
145            6.7           3.0            5.2
146            6.3           2.5            5.0
147            6.5           3.0            5.2
148            6.2           3.4            5.4
149            5.9           3.0            5.1

[150 rows x 3 columns]

In [139]:
from sklearn.model_selection import train_test_split

In [140]:
X_Train, X_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.3, random_state=7)

In [141]:
X_Train.shape

(105, 3)

In [142]:
X_test.shape

(45, 3)

In [143]:
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier

In [144]:
param_svc = SVC(kernel='rbf', C=10, gamma=0.8)
param_mlp = MLPClassifier(hidden_layer_sizes=(200, ), activation='logistic', solver='lbfgs', alpha=0.0001, learning_rate_init=0.15)

In [145]:
model_svc = param_svc.fit(X_Train, y_train)

c:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [146]:
model_mlp = param_mlp.fit(X_Train, y_train)

c:\ProgramData\Anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:1102: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\ProgramData\Anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:546: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

In [147]:
pred_svc = model_svc.predict(X_test)
pred_mlp = model_mlp.predict(X_test)

## Confusion Matrix

In [148]:
from sklearn.metrics import confusion_matrix

In [149]:
confusion_matrix(pred_svc, y_test)
confusion_matrix(pred_mlp, y_test)

array([[12,  0,  0],
       [ 0, 14,  3],
       [ 0,  2, 14]], dtype=int64)

### Accuracy

In [150]:
from sklearn import metrics
print('Akurasi pred_svc ', metrics.accuracy_score(pred_svc, y_test))
print('Akurasi dari MLP', metrics.accuracy_score(pred_mlp, y_test))

Akurasi pred_svc  0.9111111111111111
Akurasi dari MLP 0.8888888888888888

In [152]:
print('Akurasi pred_svc ', metrics.recall_score(pred_svc, y_test, average='macro'))
print('Akurasi dari MLP', metrics.recall_score(pred_mlp, y_test, average='macro'))

Akurasi pred_svc  0.9235588972431078
Akurasi dari MLP 0.8995098039215685

In [153]:
fpr_svc, tpr_svc, threshold_xgb = metrics.roc_curve(y_test, pred_svc)
# tidak bisa karena multiclass coba gunakan One Versus One / One Versus Rest

ValueError: multiclass format is not supported

## Optimize